body {
    margin: 0;
    padding: 10px;
    width: 370px;
    box-sizing: border-box;
}
#title {
    font-size: 14px;
    margin-bottom: 6px;
}
#url {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #808080;
    margin-bottom: 15px;
}
